:host {
  display: block;
  width: 100vw;
  background-color: white;
  overflow-x: hidden;
}

.title {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 3rem;
  font-family: 'Questrial', sans-serif;
  margin-top: 80px;
}

.details-options {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.details-options > div {
  text-align: center;
}

.details-options a {
  font-family: Questrial, sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  transition: text-shadow 0.2s ease-in-out;
}

.details-options a:hover {
  text-shadow: 0px 0px 5px #8E8E8E;
}

footer {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 30px;
}

footer > a {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-family: Questrial, sans-serif;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
