:host {
  display: block;
  width: 90%;
  max-width: 800px;
  margin: 0 auto 20px;
}

.dropdown-checkbox {
  margin-left: 15px;
}

button > span {
  font-size: 17px;
}

.name-input-filter {
  display: block;
  width: 90%;
  margin: 0 auto 15px;
}
