<div class="row">
  <div class="col-lg-2 d-flex align-items-center justify-content-center">
    <img [src]='course.url' alt="img" />
  </div>
  <div class="col-lg-7">
    <h2 class="text-center text-lg-left pl-lg-4 pt-3 name">{{course.name}}</h2>
    <h6 class="text-center text-lg-left pl-lg-4 pt-3 time">{{course.description}}</h6>
  </div>
  <div class="col-lg-3 d-flex align-items-center justify-content-center">
    <button *ngIf="userService.canEditCourse(user)" type="button" class="btn btn-light" (click)="editCourse()">Edit</button>
    <button *ngIf="userService.canEditCourse(user)" type="button" class="btn btn-light" (click)="removeCourse()">Remove</button>
  </div>
</div>
